:root {
  /*keeps the colors for me*/
  --box-background-color: #000000;
  --border-color: #7e52a0;
  --header-color: #a8d9ff;
  --sub-header-color: #b18fd0;
  --text-color: #a8d9ff;
}
html {
  /*keeps things centered*/
  display: flex;
 justify-content: center;
}
body {
  margin: 0;
  background-color: var(--box-background-color);
  max-width: 3000px;
  font-family: "Source Code Pro", monospace;
}

.source-code-pro-text {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex; 
  flex-direction: column; 
  background-image: url("/images/Adriana's Blog Header.png");
  width: 100%; 
  height: 33vh;
  object-fit: cover;
}

.header h1 {
  z-index: 1;
  text-align: center;
  font-size: 50px;
  color: var(--header-color);
  margin: 30px;
  padding: 30px;
}

.welcome-box {
  margin: 20px;
  padding: 25px;
  background-color: var(--box-background-color);
  max-width: 1500px;
  border: 3px solid var(--border-color);
}
.welcome-box h2 {
  font-size: 28px;
  color: var(--header-color);
}
.welcome-box h3 {
  font-size: 18px;
  color: var(--sub-header-color);
}
.welcome-box h4 {
  font-size: 18px;
  color: var(--sub-header-color);
  text-align: left;
}
.welcome-box p {
  font-size: 18px;
  color: var(--text-color);
}

.postbox {
  margin: 20px;
  padding: 25px;
  background-color: var(--box-background-color);
  max-width: 1500px;
  border: 3px solid var(--border-color);
}
.postbox h2 {
  font-size: 28px;
  color: var(--header-color);
}
.postbox h3 {
  font-size: 15px;
  color: var(--sub-header-color);
}
.postbox h4 {
  font-size: 18px;
  color: var(--sub-header-color);
  text-align: left;
}
.postbox p {
  font-size: 18px;
  color: var(--text-color);
}

.postbox ul {
  font-size: 18px;
  color: var(--text-color);
}

.link {
  font-size: 18px;
  color: var(--sub-header-color);
}
.link a:hover {
  color: var(--header-color);
}
.footer {
  text-align: center;
  color: var(--header-color);
}
#post-one-wall {
  max-width: 30vw;
  min-width: 300px;
}
.span {
  font-size: 18px;
  color: var(--text-color);
}
.pink-text {
  font-size: 18px;
  color: var(--text-color);
}

/* might not need this, lets have a look
@media (max-width: 768px) {
  
  .banner-img {
    height: 50vh; 
  }
}
*/